.section__cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10% 4%;

  .image__cta {
    width: 90%;
    height: 90%;
  }

  .text__cta {
    width: 30%;
    margin-left: 4%;
    font-weight: bold;
    background: -webkit-linear-gradient(360deg, #00f0ff 0%, #5773ff 46.87%, #ff007a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.section__features {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section__feature__header {
    width: 100%;
  }
  .section__feature__title {
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(360deg, #00f0ff 0%, #5773ff 46.87%, #ff007a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section__feature__description {
    width: 50%;
    font-weight: 200;
  }
  .cards__content{
    margin-left: -2.55%;
  }
  .cards__list {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 900px) {
  .section__features {
    .section__feature__header {
      width: 90%;
    }
    .section__feature__description {
      margin-top: -2%;
    }
    .cards__list {
      width: 70%;
    }
  }
}