.benefits__header{
  display: flex;
  flex-direction: column;
  align-items: center;

  .header__subtitle {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 200;
  }
  .header__title {
    margin: -10px 0px -10px;
    font-size: 40px;
    background: -webkit-linear-gradient(360deg, #00f0ff 0%, #5773ff 46.87%, #ff007a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header__description {
    width: 40%;
    text-align: center;
  }
}