.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4% 0px 4%;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  .logo__icon {
    cursor: pointer;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0;
  }
  .nav__item {
    list-style: none;
    font-weight: 200;
    cursor: pointer;
    &:hover {
      color: #d9d9d9;
    }
  }
  .user__actions {
    display: flex;
    align-items: center;
  }
  .user__actions__login {
    width: auto;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    &:hover {
      color: #d9d9d9;
    }
  }
}
