.btn__common {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  border-radius: 50px;
  border: solid 2px transparent;
  background-color: transparent;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 300px 1px #0F0B30 inset;

  .btn__text {
    font-size: 16px;
    padding: 0px 5px;
    color: #ffffff;
    font-weight: bolder;
  }
  
  .btn__icon {
    width: 40px;
    height: 40px;
  }

  &__primary {
    @extend .btn__common;
  }
}
